# Documentation.
include README.rst
include COPYING.txt

# Cython compilation result.
include fplib.cpp

# The library's header files are not included by default.
include fplib/include/*.h
include fplib/src/*.h
